* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* outline: 1px solid red; */
}

.wrapper {
    width: 100%;
    /* min-width: 1140px; */
    margin: 0 auto;
    padding: 0;
}

nav {
    position: relative;
    top: -60px;
    padding: 10px 20px 10px;
    position: fixed;
    background: #333;
    width: 100%;
    z-index: 9999;
}

.topnav .icon {
    display: none;
}

.container {
    float: none;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    margin: 0px 200px 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.header li {
    float: left;
    list-style: none;
    padding: 5px 15px 5px;
    margin: 5px 30px 5px;
    text-transform: uppercase;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.container .header li:hover {
    background-color: #999;
}

/* .container .header li a:hover {
    color: red;
} */

.header li a {
    color: white;
    text-decoration: none;
}

.icon {
    display: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.topnav .header li {
    display: inline-block;
}

.herobanner {
    padding-top: 10px;
    padding-bottom: 50px;
}

.herobanner h2 {
    position: relative;
    bottom: 100px;
    text-align: center;
    font-family: "Rochester", cursive;
    font-size: 140px;
    font-weight: 400;
    padding: 200px 0px 50px;
    color: white;
}

.herobanner p {
    position: relative;
    bottom: 600px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 80px 0px 10px;
    text-align: center;
    color: white;
}

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}


.background-image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('../images/intro-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 78vh;
}

.our-specials {
    float: left;
    width: 100%;
    padding: 120px 0px 120px;
    /* margin-bottom: 350px; */
}

.our-specials .container .section-title {
    margin-bottom: 70px;
}

.our-specials .container .section-title h3 {
    text-align: center;
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 41.8px;
    margin: 10px 0px 0px;
    padding: 0px 0px 20px;
    text-transform: uppercase;
}

.our-specials .container hr {
    width: 70px;
    height: 2px;
    background-color: #d43031;
    margin: 0 auto;
    border: none;
}

.specials-content {
    float: left;
    width: 100%;
    text-align: center;
}

.special-title {
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
}

.specials-content .container p {
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin: 15px 0 30px;
    width: 95%;
    text-align: center;
}

.special1,
.special2 {
    text-align: center;
    width: 30%;
    float: left;
    margin: 0px 15px 0px;
    display: none;
}

.special3 {
    text-align: center;
    width: 30%;
    float: left;
    margin: 0px 15px 0px;
    display: none;
}


.special1 img,
.special2 img {
    width: 100%;
    margin: 30px auto 20px;
}

.special3 img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}


.our-story-2 {
    float: left;
    width: 100%;
    display: flex;

    /* border: 1px solid black; */
}

.our-story-image {
    position: relative;
    right: 1000px;
    float: left;
    width: 49%;
}

.our-story-image img {
    float: left;
    width: 100%;
}

.our-story-right {
    float: left;
    width: 49%;
    padding: 14px;
    background-color: #F6F6F6;
}

.our-story-title {
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 400;
    margin: 10px 0px 15px;
    padding-top: 80px;
    padding-left: 130px;
    text-transform: uppercase;
    text-align: start;
}

.our-story-line {
    width: 70px;
    height: 2px;
    background-color: #d43031;
    margin-left: 135px;
    border: none;
}

.our-story-content {
    margin-left: 135px;
    margin-top: 25px;
    margin-right: 200px;
    line-height: 24px;
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}



.menu {
    float: left;
    width: 100%;
    padding: 100px 0px 60px;
}

.menu h3 {
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 400;
    /* line-height: 41.8px; */
    text-transform: uppercase;
    text-align: center;
    /* margin: 10px 0px 0px;
    padding: 0px 0px 20px; */
    margin-top: 10px;
    margin-bottom: 15px
}

.menu hr {
    width: 70px;
    height: 2px;
    background-color: #d43031;
    margin: 0 auto;
    border: none;
}

.menu-left,
.menu-right {
    float: left;
    width: 50%;
    margin-top: 70px;
}

.menu-left h3,
.menu-right h3 {
    color: #444;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 400;
    /* line-height: 35.2px; */
    text-transform: uppercase;
}

.menu-left hr,
.menu-right hr {
    width: 70px;
    height: 2.5px;
    background-color: #d43031;
    margin: 0 auto;
    border: none;
}

.menu-content {
    margin: 45px 0pc 45px;
}

.menu-content h4 {
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.5714px;
    text-align: start;
    margin-bottom: 10px;
}

.menu-content p {
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.4286px;
    text-align: start;
    width: 75%;
}


.price {
    color: #555;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-right: 50px;
    width: 25%;
    float: right;
    text-align: right;
}


.gallery {
    float: left;
    width: 100%;
    margin: 0px 0px 50px;
}

.gallery ul {
    margin: 0;
    padding: 0;
}

.gallery ul li {
    list-style: none;
    display: inline;
}

.gallery ul li img {
    float: left;
    width: 25%;
}

.meet-our-chef {
    width: 100%;
    padding: 100px 0px 100px;
    float: left;
}

.meet-our-chef-content {
    width: 50%;
    margin: 0px 0px 100px 70px;
    /* padding: 0px 15px 0px; */
    float: left;
}

.meet-our-chef-content h3 {
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 41.8px;
    text-align: start;
    text-transform: uppercase;
    padding: 0px 0px 20px;
}

.meet-our-chef-content hr {
    width: 70px;
    height: 2px;
    background-color: #d43031;
    margin: 0 auto;
    border: none;
    margin-left: 3px;
}

.meet-our-chef-content .para1 {
    margin: 70px 0px 0px;
    padding-right: 200px;
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.4286px;
}

.meet-our-chef-content .para2 {
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.4286px;
    padding-right: 200px;
    padding-top: 15px;
}

.meet-our-chef-image {
    width: 44%;
    float: right;
    position: relative;
    left: 1000px;
}

.meet-our-chef-image img {
    width: 545px;
    height: 350px;
    text-align: center;
}

.footer1 {
    float: left;
    width: 100%;
    background-color: #333;
    padding: 100px 0px 100px;
}

.contact {
    float: left;
    width: 32.3%;
    min-height: 100px;
    position: relative;
    right: 1100px;
}

.contact h3 {
    color: #aaa;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.8px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px 20px;
}

.contact hr {
    width: 45px;
    height: 1px;
    background-color: #d43031;
    margin: 0 auto;
    border: none;
    margin-bottom: 20px;
}

.contact p {
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.footer2 {
    width: 100%;
    float: left;
    padding: 40px 0px 20px;
    background-color: #262626;
}

.text {
    /* height: 30px; */
    font-family: "Open Sans", sans-serif;
    width: 50%;
    float: left;
    text-align: center;
    color: #666;
    /* padding-top: 15px; */
    font-size: 15px;
    position: relative;
    right: 1000px;
}

.text p a {
    text-decoration: none;
    color: #999;
}

.social-icons {
    /* width: 45%; */
    width: 15%;
    float: right;
    text-align: right;
    position: relative;
    left: 1000px;
}

.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
}

.social-icons ul li {
    width: 100%;
}

.social-icons i {
    font-size: 20px;
    color: #888;
    line-height: 1;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}

/* responsive code  */

@media(max-width: 1024px) {
    .wrapper {
        float: none;
        min-width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        float: none;
        width: 85%;
        margin: 0 auto;
        /* border: 2px solid darkblue; */
    }

    nav {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .header {
        float: left;
        width: 100%;
        margin: 0;
        padding: 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid saddlebrown; */
    }

    .container .header li {
        margin: 0px 20px 0px;
    }

    .background-image {
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .herobanner p {
        font-size: 20px;
    }

    .our-specials {
        float: left;
        width: 100%;
        /* border: 2px solid green; */
        margin: 50px 0px 50px;
        padding: 0;
    }

    .our-specials .container .section-title {
        margin: 0;
        padding: 0;
    }

    .our-specials .container .section-title h3 {
        font-size: 25px;
    }

    .special1,
    .special2,
    .special3 {
        width: 100%;
        margin: 0;
    }

    .special-title {
        font-size: 20px;
        margin: 30px 0px 0px;
    }

    /* .special1 img,
    .special2 img{
        width: 65%;
    } */

    .special1 img,
    .special2 img,
    .special3 img {
        width: 50%;
    }

    .specials-content .container p {
        font-size: 15px;
        /* padding: 0px 30px 0px; */
    }

    .our-story {
        float: left;
        width: 100%;
        /* border: 2px solid purple; */
    }

    .our-story-bgimage {
        display: none;
    }

    .our-story .container div {
        float: left;
        width: 100%;
        margin: 30px 0px 50px;
        /* border: 2px solid yellow; */
    }

    .our-story-title {
        margin: 30px 0px 10px;
        padding: 0;
        text-align: left;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .our-story-line {
        margin: 0 auto;
    }

    .our-story-content {
        float: left;
        width: 97%;
        /* border: 2px solid green; */
        margin: 30px 0px 5px;
    }

    .menu {
        float: left;
        width: 100%;
        /* border: 2px solid green; */
        margin: 30px 0px 0px;
        padding: 0;
    }

    .menu .container .menu-row1 .menu-left .title1 {
        margin: 30px 0px 10px;
        padding: 0;
    }

    .menu h3 {
        margin: 0px 0px 10px;
        font-size: 25px;
    }

    .menu-left,
    .menu-right {
        float: left;
        width: 99.5%;
        /* border: 2px solid slateblue; */
        margin: 0;
        padding: 0;
    }

    .menu-row1,
    .menu-row2 {
        float: left;
        width: 100%;
    }

    .menu-content h4 {
        font-size: 18px;
    }

    .menu-content p {
        font-size: 14px;
        width: 60%
    }

    .gallery {
        /*   */
        display: inline-block;
    }

    .gallery ul li {
        display: inline;
    }

    .gallery ul li img {
        width: 25%;
    }

    .meet-our-chef {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        /* border: 2px solid red; */
    }

    .meet-our-chef-content {
        float: left;
        width: 100%;
        margin: 0px 0px 30px;
        padding: 0;
        /* border: 2px solid purple; */
    }

    .meet-our-chef-content h3 {
        font-size: 25px;
        text-align: center;
    }

    .meet-our-chef-content hr {
        margin: 0 auto;
    }

    .meet-our-chef-content .para1 {
        margin: 30px 0px 0px;
        padding: 0;
        font-size: 14px;
        text-align: center;
    }

    .meet-our-chef-content .para2 {
        margin: 30px 0px 0px;
        padding: 0;
        font-size: 14px;
        text-align: center;
    }

    .meet-our-chef-image {
        float: left;
        width: 100%;
        /* border: 2px solid violet; */
        text-align: center;
        margin: 0px 0px 30px;
    }

    .meet-our-chef-image img {
        width: 85%;
    }

    .footer1 {
        float: left;
        width: 100%;
        padding: 0px 0px 30px;
        margin: 0;
        /* border: 2px solid greenyellow; */
    }

    .contact h3 {
        font-size: 15px;
        margin: 30px 0px 10px;
        padding: 0;
    }

    .contact p {
        font-size: 13px;
    }

    .footer2 {
        float: left;
        width: 100%;
        margin: 0px 0px 0px;
    }

    .text {
        font-size: 12px;
    }

    .our-story-image {
        width: 100%;
    }

    .our-story-right {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    .our-story-2 {
        display: block;
    }
}

@media(max-width: 767px) {

    .wrapper {
        float: none;
        min-width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        float: none;
        width: 85%;
        margin: 0 auto;
        /* border: 2px solid darkblue; */
    }

    nav {
        background: #333;
        width: 100%;
        /* border: 2px solid yellow; */
    }

    .header {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    nav .container .header li {
        margin: 5px;
        padding: 10px;
    }

    nav .container .header li a {
        float: left;
        font-size: 12px;
    }

    .topnav .header li {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .topnav.responsive .header {
        flex-direction: column;
    }

    .topnav.responsive .header li {
        display: block;
        text-align: center;
        width: 100%;
    }

    .herobanner {
        width: 100%;
        /* border: 2px solid darkgreen; */
    }

    .herobanner .container h2 {
        font-size: 100px;
    }

    .herobanner .container p {
        font-size: 20px
    }


    .background-image {
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }


    .our-specials {
        float: left;
        padding: 5px;
        width: 100%;
        /* border: 2px solid goldenrod; */
        margin: 0 auto;
    }

    .our-specials .container .section-title {
        margin: 0 auto;
    }

    .our-specials .container .section-title h3 {
        font-size: 20px;
        padding: 20px 0px 0px;

    }

    .our-specials .container hr {
        margin: 0 auto;
    }

    .specials-content {
        float: left;
        width: 100%;
        margin: 30px 0px 10px;
        /* border: 2px solid skyblue; */
    }

    .special1,
    .special2,
    .special3 {
        width: 100%;
        margin: 10px 0px 0px;
    }

    .special1 img,
    .special2 img,
    .special3 img {
        width: 80%;
    }

    .special-title,
    .special3 {
        font-size: 17px;
    }


    .specials-content .container p {
        font-size: 14px;
    }

    .our-story-2 {
        flex-direction: column;
    }

    .our-story-image {
        width: 100%;
    }

    .our-story-right {
        padding: 15px 0px 15px 15px;
        width: 95%;
    }

    .our-story .container div {
        margin: 30px 0px 0px;
    }

    .our-story-title {
        font-size: 20px;
        padding: 0;
        margin: 0px 0px 5px;
        text-align: center;
    }

    .our-story-line {
        margin: 0 auto;
    }

    .our-story-content {
        margin: 20px 0px 0px;
        font-size: 12px;
        text-align: left;
    }

    .our-story-bgimage {
        /* width: 100%; */
        display: none;
    }

    .menu {
        float: left;
        width: 100%;
        /* border: 2px solid red; */
        margin: 50px 0px 0px;
        padding: 0;
    }

    .menu h3 {
        font-size: 20px;
        margin: 10px 0px 5px
    }

    .menu-left hr,
    .menu-right hr {
        height: 1.5px;
    }

    .menu-row1,
    .menu-row2 {
        float: left;
        width: 100%;
        /* border: 2px solid hotpink; */
    }


    .menu-left {
        float: left;
        width: 100%;
        /* border: 2px solid fuchsia; */
        margin: 10px 0px 0px;
    }

    .menu-content h4 {
        font-size: 16px;
    }

    .menu-content h4 .price {
        font-size: 16px;
        margin: 0;
    }

    .menu-content {
        margin: 20px 0px 0px;
    }

    .menu-content p {
        font-size: 14px;
        width: 70%;
    }


    .menu-right {
        float: left;
        width: 100%;
        /* border: 2px solid fuchsia; */
        margin: 10px 0px 30px;
    }

    .gallery {
        float: left;
        width: 100%;
        /* border: 2px solid green; */
        margin: 20px 0px 0px;
    }

    .gallery ul {
        text-align: center;
    }

    .gallery ul li {
        text-align: center;
    }

    .gallery ul li img {
        display: inline-block;
        width: 50%;
    }

    .meet-our-chef {
        float: left;
        width: 100%;
        /* border: 2px solid darkblue; */
        margin: 10px 0px 0px;
        padding: 0;
    }

    .meet-our-chef-content {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .meet-our-chef-content h3 {
        text-align: center;
        font-size: 20px;
        margin: 20px 0px 0px;
        padding: 0;
    }

    .meet-our-chef-content hr {
        margin: 0 auto;
    }


    .meet-our-chef-content .para1,
    .meet-our-chef-content .para2 {
        float: left;
        width: 100%;
        margin: 20px 0px 20px;
        padding: 0;
        text-align: center;
        font-size: 14px;
    }

    .meet-our-chef-image {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0px 0px 40px;
    }

    .meet-our-chef-image img {
        display: inline-block;
        width: 80%;
        height: 50%;
    }

    .footer1,
    .footer2 {
        float: left;
        width: 100%;
        /* border: 2px solid red; */
        margin: 0;
        padding: 0;
    }

    .contact {
        float: left;
        width: 100%;
    }

    .contact h3 {
        padding: 20px 0px 10px;
        font-size: 15px;
    }

    .contact .second {
        padding: 0px 0px 20px;
    }

    .text {
        float: left;
        width: 100%;
        font-size: 10px;
        margin: 10px 0px 10px;
    }

    .social-icons {
        float: left;
        width: 100%;
    }

    .social-icons ul {
        margin: 0px 95px 0px;
    }

    .social-icons ul li a i {
        width: 100%;
    }
}